body {
  font-family: "Poppins", sans-serif;
}

.signin-wrapper {
  height: 100vh;
}

.signin-wrapper .row .col-md-8 {
  background-image: url("./images/bg-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 2% 70%;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.email-wrap {
  overflow: auto;
}

.render-chat {
  height: 60vh;
  overflow: auto;
}

.bubble {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  min-width: 10%;
  position: relative;
  clear: both;
  background: #ff8383;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: rgb(29, 26, 26);
  word-wrap: break-word;
}

.bubble-alt {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  min-width: 10%;
  position: relative;
  clear: both;
  background: #a1ff67;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: rgb(29, 26, 26);
  word-wrap: break-word;
}
